body {
    font-family: 'poppings', sans-serif;
    margin: 0;
    padding: 0;
    background:blue;
    color: white;
}

header {
    background: white;
    color: blue;
    padding: 1rem;
}
.about-Emmanuel {
    background-color: white;
    color:blue;
    padding: 1rem;
}
.portfolio.pic {
    width: 10px;
    height:10px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    box-shadow: 0px;

}
    

nav ul {
    list-style: none;
    padding: 0
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: blue;
    text-decoration: none;
    font-weight: bold; 
}
main {
    padding: 20px;
}
.hero, .about menu, .portfolio, .contact {
    text-align: center;
    margin-top: 50px;
}
footer {
    background: white;
    color: blue;
    padding: 1rem;
    margin-top: 2rem;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 20px auto;
    }
input, textarea {
    padding: 10px;
    font-size: 1rem;
}
button{
    background: white;
    color: blue;
    border: none;
    padding: 10px;
    cursor: pointer
}


/*Responsive*/
@media(max-width:768px) 
{nav ul li {
    display: block;
    margin: 10px 0;
}
}

